@model DcmsMobile.Inquiry.Areas.Inquiry.CartonEntity.CartonListViewModel
@{
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
}

<div class="container">
    <div class="page-header">
        <h1>Carton List</h1>
    </div>
    <div>
        @Html.Partial(MVC_Inquiry.Inquiry.CartonEntity.Views._cartonListPartial)
    </div>
</div>

<div data-role="page">
    <div data-role="header"><h1> Carton List</h1></div>
    <div class="ui-content">
        <div>
           @Html.Partial(MVC_Inquiry.Inquiry.CartonEntity.Views._cartonListPartial)
        </div>
    </div>
</div>
